APP_NAME=api-gateway
APP_ENV=production
APP_DEBUG=false
APP_URL=https://YOUR-API-GATEWAY.onrender.com
APP_KEY=base64:YOUR_APP_KEY_HERE
TRUSTED_PROXIES=*
LOG_CHANNEL=stderr
LOG_LEVEL=info
PORT=10000

AUTH_SERVICE_URL=https://YOUR-AUTH-SERVICE.onrender.com
CATALOG_SERVICE_URL=https://YOUR-CATALOG-SERVICE.onrender.com
ORDER_SERVICE_URL=https://YOUR-ORDER-SERVICE.onrender.com
PAYMENT_SERVICE_URL=https://YOUR-PAYMENT-SERVICE.onrender.com
INTERNAL_SERVICE_SECRET=STRIKER_SECRET_TOKEN_2026
